* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

section {
  margin-bottom: 20px;
}

.content-wrapper {
  margin: 0 auto;
}

.no-border {
  border: none;
}

.added {
  color: yellow;
}

.error {
  color: red;
}

.thread_title {
  font-size: 1.25rem;
  font-weight: bold;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  background-color: #ccc;
  align-items: center;
}
